

@import "./src/scss/sassmine";

// add/import items to test here

$var: 10;

@mixin size($width, $height) {
  height: $height;
  width: $width;
}

// add tests here

@include describe("Test Module") {
  @include it("should be defined") {
    @include toBeDefined(var);  
    @include toBeDefined(vaerwr);
    @include toBeDefined(vaasserwr); 
  }
  
  @include it("should not be defined") {
    @include toBeUndefined(fghs);  
    @include toBeUndefined(size);
    @include toBeUndefined(abs);
    @include toBeUndefined($var);
  }
  
  @include it("should equal") {
    @include toEqual(20, 20);
    @include toEqual(#ccc, #ccc);
    @include toEqual(yellow, blue);
  }
  
  @include it("should not equal") {
    @include toNotEqual(20, 20);
    @include toNotEqual(#eee, #ccc);
    @include toNotEqual(yellow, blue);
  }
  
  @include it("should be greater") {
    @include toBeGreater(5, 6);
    @include toBeGreater(20, 10);
    @include toBeGreater(20, 600);
  }
  
  @include it("should be lesser") {
    @include toBeLesser(5, 6);
    @include toBeLesser(1000, 50);
  }
  
  @include it("should not be a number") {
    @include toBeNaN(string);
    @include toBeNaN(10);
  }
  
  @include it("should be a color") {
    @include toBeColor(red);  
    @include toBeColor(rgba(0, 0, 0, 0.5));  
    @include toBeColor(#000);
    @include toBeColor(name);
  }
  
  @include it("should be null") {
    @include toBeNull(null);
    @include toBeNull(#333);
  }
  
  @include it("should not be null") {
    @include toNotBeNull(null);
    @include toNotBeNull(#333);
  }
  
  @include it("should be close to") {
    @include toBeCloseTo(3, 5);
    @include toBeCloseTo(3, 5, 1);
  }
}